rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and write access to all settings documents
    match /settings/{document} {
      allow read, write: if true;
    }
  }
}
